body {
    background-color: #8889ca;
}

#title {
    font-size:3.6rem;
    font-weight:bold;
}

/* For Mobile Landscape View */
@media screen
  and (max-device-width: 480px)
  and (orientation: portrait){
    .jumbotron {
        background-color: rgb(215, 225, 255);
    }    
    body {
        background-color: rgb(215, 225, 255);
    }
    
}